# ===== Python =====
venv/
__pycache__/
*.pyc
.env
data/*
!data/raw/
!data/processed/
!data/calibration/
!data/logs/
!data/**/.gitkeep
backend/app/ml/saved_models/*
!backend/app/ml/saved_models/.gitkeep
*.db

# ===== Android =====
.gradle/
local.properties
*.iml
.idea/
build/

# ===== VS Code =====
.vscode/

# ===== OS =====
.DS_Store
Thumbs.db
